.nav-icon {
	display: block;
	text-align: center;
	padding-bottom: 4px;
	font-size: x-large
}

.nav-icon-text {
	display: block;
	text-align: center;
}

.nav-greetings-text {
	display: block;
	text-align: center;
	line-height : 44px;
	font-size: 36px;

}

.navbar-brand-with-user {
	line-height : 44px;
	font-size: 36px;
	color: white;
}

.navbar-brand-with-user:hover, .navbar-brand-with-user:focus,
.navbar-brand-no-user:hover, .navbar-brand-no-user:focus {
	color : skyblue;
}


.navbar-brand-no-user {
	font-size: 36px;
	color: white;
}

.navbar-right {
	padding-right: 36px;
}

.top-navbar {
    margin-bottom: 12px;
	padding: 12px;
}

.bottom-navbar {
	padding: 12px;
}

.navbar {
	border-radius: 0 !important;
}


.no-user-link {
	font-size: 20px;
	padding: 24px;
}

.navbar-edgarusa {
	/*background-color: blue;*/
	background-color: #002868;
}

.search-bar-with-user {
	padding-top: 10px;
}

#srch-term:focus {
	width:500px;	
}

#srch-term {
	transition: width 0.5s ease;
}

.search-bar-no-user {
	padding-top: 0px;
}

.navbar-right > li > a {
	color : white;
}

.navbar-right > li > a:hover, .navbar-right > li > a:focus {
	background-color: transparent;
	color : skyblue;
}

#account_dropdown {
    background-color: transparent;
}

.cart-badge {
	font-size: x-small;
    position: absolute;
    left: 32px;
    top: 8px;
    background-color: red;
}




