.story-overlay-container {
	position: relative;
	top: 25%;
	
}

.story-panel {
	opacity: 0.85;
	background-color : #367123;
	border-width: 0;
	padding: 12px;
}

.story-panel > div {
	opacity:  1.0;
	color : white;
	font-size: 24px

}


.story-image {
	background-size : contain;
	max-height : 700px;
	height : 700px;
}


.product-description-collapse-preview {
	color : green;
	cursor:pointer;
}

.product-description-collapse-preview:hover {
	color: red !important;
}

.product-image-more-container {
	margin-right: 8px;
	margin-left: 16px;
	margin-top: 8px;
	padding: 8px;

	border-width: 2px;
	border-style: solid;
	border-color: lightgrey;
}

.product-image-more-container-selected {
	margin-right: 8px;
	margin-left: 16px;
	margin-top: 8px;
	padding: 8px;

	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
}


.product-image-more {
	max-height: 80px;
	max-width: 100%;
	height : 80px;
	width: auto;
	border-width: 0px;
	border-style: groove 
}
.product-image-more:hover {
	cursor:pointer;	
	opacity: .5;
}

.product-image-more-row {
	padding-bottom: 10px;
}


.product-image-main {
	max-height: 350px;
	height: 100%;
	max-width: 100%;
	width: auto;
  	height: auto;
  	padding : 20px;
  	margin-left: auto;
  	margin-right: auto;	
}

.product-image-main-border{
	/*border-width: 14px;*/
	border-style: ridge;
}

.product-image-main-container{
	max-width: 100%;
	height: 350px;
}

.product-name-text{
	font-size : 36px;
	display: block
}
.product-price-text {
	font-weight : bold;
	font-size : 30px;
	display: block;
	/*color : green;*/
}

.product-description-text {
	font-size : 24px;
	display: block;
}
.product-manufacturer-text {
	font-size : 16px;
	display: block;
	margin-left: 4px;
}
.product-more-images-header {
	font-size : 24px;
	display: block;
}

.product-more-information-text{
	vertical-align: middle;
}


.product-more-information-icon{
	vertical-align: middle;
}	



.product-add-cart-button-span {
	font-weight : bold;
	font-size : 36px;
	display: block,;
}



.add-to-cart-button {
	margin-top : 0px;
	padding: 18px 96px;
    font-size: 24px;
    line-height: normal;
    background-color: #002868;	
    border-color: #002868
}

.add-to-cart-button:hover {
	border-left : lightgrey 1px solid !important;
}

.quantity-button{
	margin-top : 0px;
	padding: 4px 24px;
    font-size: 24px;
    line-height: normal;
    background-color: #002868;	
    border-color: #002868;
    color: white !important;
    text-align: center;


    border-right : lightgrey 1px solid !important;
	z-index: 1 !important;
}

.quantity-button:hover {
	opacity : 0.7;
}


.quantity-dropdown > li > a {
	/*color: white;*/
}

.add-to-cart-button:hover {
	opacity: 0.7
}

.product-features-heading{
	font-size: 18;
}


.add-to-cart-text{
	color : white;
}

.product-page-tabs {
	border-bottom: solid 1px lightgrey;
	padding-bottom: 2px;
	cursor: pointer;
}

.product-page-tabs > li.active > a {
	/*color : skyblue;*/
	border-bottom: solid 4px #002868;
}


.product-page-tabs > li > a {
	color : black;
	padding-bottom: 10px;
	font-size : 24px;
	text-decoration: none;
}

.product-page-tabs > li  {
	color : grey;
	padding-bottom: 8px;
	padding-right: 36px;
	/*width: 96px;*/
	/*margin : 0;*/
}

.quantity-label{
	font-size: 12px;
	padding-top : 6px;
	padding-left: 0px;
}

.product-info-tab {
	font-size: 16px;
	/* this wasn't working last, will try agian*/
	/*font-weight: lighter*/
}

.features-list{

}

.features-list > li {
	/*font-size: 24px;*/
}

.btn-group > .btn {
	margin: 0;
}


.variant-select-button{
	margin-top : 0px;
	padding: 12px 102px;
    font-size: 24px;
    line-height: normal;
    background-color: white !important;	
    color: grey !important;
    border-color: white;
    width : 358px;
}

.variant-select-button:hover {
	opacity : 0.7;
}





