.salefacebookbannerHeader {
	padding-bottom: 0;
}

.salefacebookbannerHeader {
	padding-bottom: 12px;
}

#salesHeader.newSaleShareHeader {
	padding-right: 0;
	border-bottom: 0;
	box-shadow: none;
	height: auto;
	padding-top: 0;
	position: relative;
}

#prdShareWithTitle {
	overflow: hidden;
	height: 74px;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}

#salesHeader #byText {
	margin: 0 0 5px 0;
}

#salesHeader h2.productCaption, #salesHeader .byText {
	display: inline-block;
	color: #666;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
	margin: 0 25px 5px 0;
	padding: 0;
	font-family: "Helvetica",Helvetica,Arial,sans-serif;
	font-style: normal;
}


#salesHeader h2.productCaption, #salesHeader .byText {
	display: inline-block;
	color: #666;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
	margin: 0 25px 5px 0;
	padding: 0;
	font-family: "Helvetica",Helvetica,Arial,sans-serif;
	font-style: normal;
}

#salesHeader h2, .endingSection h2 {
	font-size: 18px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	color: #dd0017;
	padding: 0;
	line-height: 36px;
	height: 45px;
	font-weight: 200;
	margin-top: 2px;
}

#prdShareWithTitle .productCaption a {
	text-decoration: underline;
}

.color666 {
	color: #666;
}


.singleSolidBorders {
	height: 100%;
	width: 1px;
	position: relative;
	float: left;
	border-left: 1px solid #d5d5d5;
}


.dIB {
	display: inline-block;
}


#productTitle {
	color: #333;
	font-size: 24px;
	font-weight: 500;
	margin: 9px 25px 0 0;
	padding: 0;
	width: 100%;
}


.prodShareMainWrap {
	height: 74px;
	line-height: 73px;
	text-align: center;
	vertical-align: middle;
}

#prodShareIconDetails {
	line-height: 100%;
	margin: 19px 15px 0 0;
}

.shareWidgetLinks {
	overflow: hidden;
	background: #f2f2f2;
	width: 180px;
	padding: 7px 5px 8px 10px;
	height: 40px;
	line-height: 20px;
	border-radius: 2px;
}

.shareWidgetLinks li {
	float: left;
}

.shareWidgetLinks li a i {
	color: #666;
	padding-right: 8px;

}



.singleSolidBorders {
	height: 100%;
	width: 1px;
	position: relative;
	float: left;
	border-left: 1px solid #d5d5d5;
}

#prdShareWithTitle .prodNavFaveCt {
	margin: 0 0 0 10px;
	overflow: hidden;
	text-align: left;
	min-width: 197px;
	min-height: 31px;
}

.prodNavFaveCt {
	position: relative;
}

#prdShareWithTitle .prodNavFaveDesc {
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -4px;
	overflow: hidden;
	max-height: 31px;
	width: 133px;
}

#prdShareWithTitle .likeThisProduct {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 5px 0;
	color: #999;
	margin: 0px;
}

#prdShareWithTitle .addToFavorites {
	color: #dd0017;
	font-size: 13px;
	font-weight: bold;
	padding: 0;
	margin: 0px;
}

#prdShareWithTitle .prodNavFaveDesc {
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -4px;
	overflow: hidden;
	max-height: 31px;
	width: 133px;
}

.hide, .displayNone {
	display: none;
}

.prodShareMainWrap .prodNavFaveNum {
	padding-right: 1px;
	margin-top: -2px;
}

.prodNavFaveNum {
	font-weight: bold;
	font-size: 17px;
	display: inline-block;
	vertical-align: middle;
	color: #999;
}


#productpgTopWrapper {
	height: 100%;
	padding: 13px 0 13px 0;
	overflow: hidden;
	border-bottom: 1px solid #d5d5d5;
}

.productpgLeft {
	width: 700px;
	position: relative;
	padding-right: 6px;
}

#productpgSliderWrap {
	width: 700px;
	overflow: hidden;
	height: 700px;
}

#productImageSlider {
	height: 700px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 99999px;
	overflow: hidden;
}

#productImageSlider li {
	float: left;
	list-style-type: none;
	position: relative;
}

img {
	border: 0;
	outline: 0;
}

.productPgMainImage {
	height: 700px;
	width: 700px;
}

#productParagraphDescription {
	margin: 10px 0;
	border-top: 1px solid #d5d5d5;
	padding: 10px 0 0 0;
}


.productpgRight {
	width: 358px;
	height: 610px;
	position: relative;
	margin-left: 6px;
}

#productPricingDetails {
	position: relative;
	height: 100%;
}

#productPricingDetails .fabPrice {
	font-size: 31px;
	line-height: 28px;
	font-weight: bold;
	color: #000;
}


.fabPrice {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	line-height: 22px;
}

.dynamicTxtProdPage {
	display: block;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	padding-bottom: 8px;
	color: #dd0017;
	margin-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
	word-wrap: break-word;
}

.colorsWithAddToCart {
	margin: 0 0 3px 0;
	display: inline-block;
	width: 100%;
}

#productPricingDetails .sizeSelBlock, #productPricingDetails .quantitySelBlock {
	float: left;
	height: 33px;
}

.colorsWithAddToCart .quantitySelBlock {
	height: 43px!important;
	margin-top: 0;
}

#productPricingDetails .quantitySelBlock select, .newProductPgBuyBottomList .quantitySelBlock select {
	height: 33px;
	font-weight: bold;
	color: #666;
	width: 65px;
	font-size: 11px;
}

.colorsWithAddToCart .quantitySelBlock select {
	width: 80px!important;
	margin-right: 30px!important;
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}

.colorsWithAddToCart .prodPgAddcartButton {
	float: left;
	margin: 0 0 4px 0;
	width: 100%;
}


.colorsWithAddToCart .addToCart {
	padding: 0 53px!important;
	font-weight: 500;
}

.prodPgAddcartButton .addToCart {
	padding: 0 15px;
	height: 33px;
	line-height: 33px;
	float: left;
	margin-top: 9px;
	background: #dd0017;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.colorsWithAddToCart .addToCart {
	padding: 0 50px!important;
}
.fabSubmitBtn {
	font-size: 1.1em;
	color: #FFF;
	padding: .6em 1.5em;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	font-weight: bold;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	cursor: pointer;
	border: 0;
}

.productBadge {
	background-color: #efefef;
	padding: 5px;
	position: relative;
	margin-top: 6px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.dIB {
	display: inline-block;
}


.badgeRelatedContent {
	width: 270px;
	line-height: 20px;
}

.font12 {
	font-size: 12px;
}

.fabProductTextColor {
	color: #2bcfd1;
}

.font14 {
	font-size: 14px;
}


.free-shipping-link {
	cursor: pointer;
}

.fontNr {
	font-style: normal;
}

.fontWeight500 {
	font-weight: 500;
}

.fontNormal, .fontWtNormal, .fontNr, .fontSN {
	font-style: normal;
}
.colorRed {
	color: #dd0017;
}

.productPgDisc {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	word-wrap: break-word;
}

.moreProdImages.moreImagesWithABTesting {
	border-bottom: 0;
}

.moreProdImages {
	margin: 0 0 11px 0;
	overflow: hidden;
	clear: both;
	display: inline-block;
	width: 100%;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 2px;
}

.optimizelySliderForMoreImages {
	position: absolute;
	bottom: 0;
	height: 77px;
	overflow: hidden;
}

.optimizelySliderForMoreImages #moreIndvProdImages {
	margin: 0 11px 0 11px;
}

.optimizelySliderForMoreImages #moreIndvProdImages li {
	margin: 0 4px 7px;
}

#moreIndvProdImages li img.selected, #moreIndvProdImages li.moreProdImageFS img.selected {
	border: 1px solid #ccc;
	padding: 2px;
	opacity: .8;
}

#moreIndvProdImages li img {
	padding: 2px;
	border: 1px solid #fff;
	height: 70px;
	width: 70px;
}

.newProductPgBuyList #moreIndvProdImages {
	padding: 0;
	border-top: 0;
	margin-top: 0;
}


#moreIndvProdImages {
	padding: 25px 0 15px 0;
	border-top: 1px dotted #ababab;
	margin-top: 25px;
}

#moreIndvProdImages li {
	float: left;
	margin: 0 4px 4px 0;
	cursor: pointer;
}

#addToFavoriteHeartIcon {
	vertical-align: middle;
	color: #666;
	padding-right: 6px;
	padding-left: 6px;
}

.taxonomyBCrumAchr {
	float: left;
	vertical-align: top;
	color: #333;
	font-size: 12px;
}

.bCrumpTringle {
	background-position: -473px -101px;
	height: 22px;
	width: 7px;
	margin-top: 3px;
	border-bottom: 0;
}
.browsePageBC {
	overflow: hidden;
	height: 26px;
	line-height: 26px;
}

.lastBreadCrumbContent, .breadCrumbContent {
	padding: 0 10px;
	height: 26px;
	line-height: 28px;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.firstBreadCrumbContent {
	padding: 0 10px 0 0;
	height: 26px;
	line-height: 28px;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.lastBreadCrumbContent {
	max-width: 922px;
	text-overflow: ellipsis;
	padding: 0 10px;
	height: 26px;
	line-height: 28px;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	color: #666;
}

.product-extr-info-bullet {
	font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	font-size: 13px;
	line-height: 18px;
}


#productExtraInfo {
	padding: 0;
	display: table;
	width: 100%;
	vertical-align: top;
}

.productDescExtraInfo {
	width: 49%;
	padding: 20px 13px 20px 0;
	display: table-cell;
}

#productPgMoreInfo.productMoreInfoInLeft {
	padding-left: 0;
	margin-bottom: 10px;
}

#productPgMoreInfo #prodMDWrap {
	margin-top: 0;
}


#productPgMoreInfo, #productPgMoreShippingInfo {
	overflow: hidden;
	clear: both;
	padding: 0 0 0 10px;
	margin-bottom: 38px;
}




#productPgMoreInfo .prodMidblock .h3, #productPgMoreShippingInfo .prodMidblock .h3 {
	font-size: 20px;
}


.prodMidblock .h3 {
	font-size: 18px;
	color: #1e1d1d;
	font-weight: 200;
	padding: 0 0 6px 0;
	margin: 0;
}

#productPgMoreInfo #prodMDWrap div.desc {
	min-height: 100%;
	line-height: 18px;
	color: #666;
	font-size: 13px;
}

#prodMDWrap div.desc {
	min-height: 54px;
}

#prodMDWrap .desc ul {
	padding-left: 25px;
}

#prodMDWrap .desc ul li {
	color: #666;
	list-style-type: disc;
	margin-left: 10px;
}

#tblListTgl {
	overflow: visible;
}


ul.tblList, ul.prodInfoList {
	list-style: none;
	color: #666;
	overflow: hidden;
	margin-top: 6px;
}

#productPgMoreInfo ul.tblList li, #productPgMoreShippingInfo ul.tblList li {
	border-top: 1px solid #d5d5d5;
}


ul.tblList li {
	border-top: 1px dotted #666;
	padding: 6px 0;
	overflow: hidden;
}

ul.tblList .half.width55 {
	width: 55%;
}

ul.tblList .half {
	width: 267px;
	float: left;
}

ul.tblList .half.width45 {
	width: 45%;
}

ul.tblList .half {
	width: 267px;
	float: left;
}

.productAttr {
	color: #999;
	float: left;
	width: 97px;
	vertical-align: top;
}

.productAttr55Details {
	float: left;
	width: 167px;
}

.productAttr45Details {
	float: left;
	width: 119px;
}

.productAttrDetails {
	float: left;
	width: 383px;
}

.designersDetailsonProductPg.inLeftBlock {
	margin-top: 10px;
}

.designersDetailsonProductPg {
	overflow: hidden;
	margin: 38px 0;
}

.designersDetailsonProductPg h2 {
	color: #333;
	font-weight: 200;
	font-size: 20px;
	margin: 0 0 10px 1px;
}

.designersDetailsonProductPg .designerContent {
	width: 323px;
	min-height: 165px;
}

.designersDetailsonProductPg .designerDescription {
	margin: 2px 0 0 0;
	line-height: 18px;
	word-wrap: break-word;
}

.designerDescription {
	line-height: 1.3em;
	margin-top: 8px;
	word-wrap: break-word;
}

.marginTop2 {
	margin-top: 2px;
}

.font13 {
	font-size: 13px;
}

.designersDetailsonProductPg .designerLink {
	float: right;
	margin-top: 20px;
	background: url(//web.archive.org/web/20140708031841im_/http://dnok91peocsw3.cloudfront.net/relaunch/produtc_pg_dot_vertical.png) transparent repeat-x scroll 0 16px;
	height: 19px;
}
.designerLink {
	bottom: 8px;
}


.productInfoWithVideo {
	padding: 20px 0 20px 7px;
	display: table-cell;
	vertical-align: top;
	border-left: 1px solid #d5d5d5;
	width: 49%;
}

#productPgMoreShippingInfo.shippingInfoOnTop {
	margin-top: 0;
	margin-bottom: 10px;
}

#productPgMoreInfo .prodMidblock .h3, #productPgMoreShippingInfo .prodMidblock .h3 {
	font-size: 20px;
}

.prodMidblock .h3 {
	font-size: 18px;
	color: #1e1d1d;
	font-weight: 200;
	padding: 0 0 6px 0;
	margin: 0;
}

#productPgMoreShippingInfo {
	margin-top: 20px;
}

#productPgMoreInfo, #productPgMoreShippingInfo {
	overflow: hidden;
	clear: both;
	padding: 0 0 0 10px;
	margin-bottom: 38px;
}

ul.tblList, ul.prodInfoList {
	list-style: none;
	color: #666;
	overflow: hidden;
	margin-top: 6px;
}

#productPgMoreInfo ul.tblList li, #productPgMoreShippingInfo ul.tblList li {
	border-top: 1px solid #d5d5d5;
}


ul.tblList li {
	border-top: 1px dotted #666;
	padding: 6px 0;
	overflow: hidden;
}


.xmasMsgForProductPg {
	overflow: visible!important;
	min-height: 16px;
	width: 100%;
}

ul.tblList .full {
	width: 536px;
}

ul#shippingDetails label {
	width: auto;
	margin-right: 15px;
}

ul.tblList label {
	width: 104px;
	color: #999;
	float: left;
}

ul.tblList span>span {
	overflow: hidden;
}

#shippingDetails .eadWrapCls .ead_zip_code_input {
	display: none;
	padding-right: 30px;
	width: 55px;
}

button, input, select, textarea {
	margin: 0;
}

select, input, textarea, button {
	font: 99% "Helvetica Neue",Helvetica,Arial,sans-serif;
	outline: 0;
}

.show, .dB {
	display: block;
}

#productPgMoreShippingInfo .tblList .redText {
	font-size: 13px;
}

.redText {
	color: #dd0017;
	font-style: normal;
}

ul.tblList .full {
	width: 536px;
}

ul#shippingDetails label {
	width: auto;
	margin-right: 15px;
}


ul.tblList label {
	width: 104px;
	color: #999;
	float: left;
}

#product-shipping-info-truck-icon {
	padding-left: 12px;
}

.productPgWithSeal {
	margin: 42px 0 0 0;
	padding: 15px 23px 15px 90px;
	line-height: 18px;
}

.fabSeal {
	font-size: 13px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	background-color: #f5f5f5;
	padding: 15px 60px 15px 87px;
	margin: 32px 0 50px;
	position: relative;
}

.fabSeal_icon {
	display: block;
	position: absolute;
	left: 12px;
}

.designerImageWithProdPg img {
	padding: 4px;
	background: #fff;
	moz-box-shadow: 1px 1px 3px RGBa(0,0,0,0.25);
	-webkit-box-shadow: 1px 1px 3px RGBa(0,0,0,0.25);
	box-shadow: 1px 1px 3px RGBa(0,0,0,0.25);
	height: 112px;
	width: 112px;
}

#product-edgar-flag-stamp {
	height: 30px;
	width: 50px;
}
