/*
Linda's Color Scheme
:root{
    --Beige: #f0f0d8;
	--DarkBeige: #d8c0a8;
	--LightRed : #d84848;
	--DarkRed : #903030;
	--DarkBlue : #183048;
	--LightBlue : #6090a8;

}*/



/* Flag Color Scheme */
/*
:root{
    --Beige: #f0f0d8;
	--DarkBeige: #d8c0a8;
	--LightRed : #ff0000;
	--DarkRed : #d42729;
	--DarkBlue : #000654;
	--LightBlue : #0157ae;
}*/

/* mix */
:root{
    --Beige: #f0f0d8;
	--DarkBeige: #d8c0a8;
	--LightRed : #ff0000;
	--DarkRed : #d42729;
	--DarkBlue : #183048;
	--LightBlue: #6090a8;
}

.admin-table-entry-short {
	word-wrap : "break-word",
	min-width : 160px,
	max-width : 160px
}


.top-buffer { margin-top:20px; }
.small-buffer { margin-top:10px; }



.black-border-shown{
	border-style: solid;
	border-color: black;
}

.past-order {
	border-color : black;
	border-style: solid;
}

.body-container { 
	padding-top: 120px;
	background-color: white;
	font-family: Arial;
	overflow-x: hidden;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.bottom-column {
	vertical-align: bottom;
}

.admin-product-image {
	max-height : 100px;
	max-width  : 100px;
	margin : auto;
	height : auto;
	width : auto;
}

.none {
	display: none;
}



#settings-header {
	font-size: 24px;
}

.react-router-link {
	color : black;
}

.cart-image-display {
	max-height: 80px;
	max-width: 80px;
	height: auto;
	width: auto;
}

.cart-checkout-preview {
	border-color : black;
}

.address-checkout-preview {
	padding: 10px;
}



.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.hcenter {
	text-align: center;
}

.cart-item-price-text  {
	color : var(--LightBlue);
}
	

.cart-remove-item-icon {
	color : var(--LightRed);
	cursor : pointer;
	font-size: 20px;
}

.cart-remove-item-icon:hover {
	opacity: 0.7
}

.cart-title {
	font-size: 36px
}

.span-block {
	display: block;
}

.checkout-item-selected{
	color: var(--LightRed)    ;
}

.clickable-text {
	cursor : pointer;
	color: var(--LightBlue);
}

.clickable-text:hover {
	text-decoration:underline;
}

.checkout-container{
	opacity : 1;
}

.faded{
	opacity: 0.40
}

.add-field-icon {
	color: var(--DarkBlue);
}

.add-field-icon:hover {
	text-decoration:underline;
	cursor:pointer;
}

.add-field-text {
	font-size : 18px;
}


.settings-title {
	font-size : 16px;
}


.home-container {
	/*background-color: var(--Beige);*/
	opacity: 0.9;
}

.block-span {
	display: block;
}

.settings-preview-column {
	margin: 6px;
	padding: 12px;
	margin-right: 12px;
}

.add-setting-icon {
	font-size: 36px;
}	

.add-settings-text {
	font-size:  16px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.grey-dashed-border {
	border-style: dashed;
	border-color: grey;
	border-width: 1px;
}

.grey-solid-border {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

.no-border {
	border-width: 0px;
}






.add-settings-button {
	cursor: pointer;
	color: grey;
	padding-top: 30px;
}

.add-settings-button:hover {
	opacity: 0.7;
	color: var(--LightBlue);
	border-color: var(--LightBlue);
}

.text-left {
	text-align: left !important;
}


.form-group.required .control-label:after {
	content: " *";
	color: var(--LightRed);
}

.card-icon-md {
	height: 36px;
	width: auto;
	margin: 8px;
}

.product-preview-row {
	margin-bottom: 12px;
}

.home-product-preview {
	background-color: white;
	padding-left: 18px;
	padding-right: 18px;
	margin: 14px;
	border-radius: 4px;
	/*box-shadow: 4px 4px 2px #DFDFDF;*/
}

.home-product-preview:hover {
	cursor: pointer;
}

.home-product-preview:hover .home-product-preview-name {
	text-decoration:underline;
}

.home-product-preview-image {
	max-height: 100%
}

.home-product-preview-image-row {
	height: 200px;
	padding: 12px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.beige-container {
	background-color: var(--Beige) !important;
}

.home-product-preview-container {
	/* flag */
	/*background-color :rgba(1,87,174, 0.3) !important;*/

	/* Linda's */
	background-color :rgba(96, 144, 168, 0.3) !important;
}


.home-product-preview-price {
	font-size: 24px;
	color : var(--LightBlue);
}

.home-product-preview-details{
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom : 10px
}

.home-product-preview-manufacturer {
	font-size : 18px;
	color: black;
}

.home-product-preview-name {
	font-size : 18px;
	color: black;
}

.red-text {
	color: var(--LightRed);
}

.modal-header-right {
	margin-right: 6px;
}

.form-heading {
	font-size: 24px;
}

.home-image-carousel{
	height: 600px;
}

.home-image-carousel > .carousel-inner {
	height: 100%;
}

.home-image-carousel > .carousel-inner >.item {
	height: 100%;
}

.home-image-carousel > .carousel-inner > .item > img{
	max-height: 100%;
	width : auto;
}

.home-large-buffer {
	margin-top: 20px;
}

.order-border {
	border-color: grey;
	border-style: dashed;
	border-width: 1px;
}

.grey-background {
	background-color: lightgrey;
}

.order-preview-image {
	height: 100px;
	width: 100px;
}
.order-preview-image:hover {
	opacity: 0.7;
}

.order-preview-table  > tbody > tr > td {
	padding: 12px;
}

.order-preview-table  > tbody > tr > th {
	padding: 8px;
}

.order-preview-table{
	border-radius: 5px;
}

.noborder > th {
	border: 0;
}

.light-grey-background {
	background-color: lightgrey
}

.grey-text {
	color : grey;
}

.table-header-vertical-align-center {
	vertical-align: middle !important;
}

#content {
	min-height: 90%;
}

.home-carousel-text-container{
	position: absolute;
	top: 5%;
	left: 30%;
	width: 40%;
	height: 30%;
	background-color: white;
	opacity: 0.7;
	padding: 100px;
}

.carousel-caption{
	color: var(--DarkBlue) 
}


#search-container {
	background-color : #FAF9F8 !important;
}

.search-result-amount-text{
	font-size: 36px;
	padding : 8px;
}

.checkout-button{
	width: 95%;
	/*background-color: #f0c14b;  yellow */
	background-color: var(--DarkBlue);
	color: white;
}

.checkout-price-amount-text{
	font-size: 14px;
}

.checkout-price-label-text{
	font-size: 14px;
}

.checkout-price-last-row{
	font-size: 24px;
	color : var(--LightRed);
}

.checkout-footer-text{
	font-size: 12px;
	text-align: center;
}

.checkout-notice-of-terms-text{
	font-size: 12px;
}

.support-panel-body{
	padding: 25px;
	padding-top: 2px;
	padding-bottom :2px;
}

.textarea-resize-vertical {
	resize: vertical;
}

.send-feedback-button{
	background-color : var(--DarkBlue);
	color : white;
}

.send-feedback-button:hover{
	color : white !important;
}

.cart-column-title{
	font-size: 20px;
}

.checkout-section-title {
	font-size: 18px;
}

.cart-item-text {
	font-size : 18px;
}

.checkout-select-title{
	font-size: 16px
}


.checkout-card-details {
	font-size:16px;
}

.checkout-address-details {
	font-size:16px;
}

.order-history-panel-header{
	font-size: 18px;
}

.order-history-panel-text{
	font-size: 18px;
}


.account-panel {
	border-color : var(--LightBlue) !important;
	padding: 12px;
}

.account-panel-heading{
	font-size: 24px;
}

.account-panel-body {
	padding-bottom: 0px;
}

.account-button:hover {
	opacity: 0.7;	
}

.account-button{
	background-color: var(--LightBlue);
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 24px;
	width: 100%;
	border: none;
	border-radius: 6px;
}

.account-header {
	margin-top :0px;
	margin-bottom: 24px;
}




/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-header .close {
  font-size: 40px; /*bigger*/
}

.register-popover {
	width: 200px;
	margin-left: 32px;
}


.account-page-text {
	font-size: 16px
}

.home-page-filler-product {
	padding-left: 18px;
    padding-right: 18px;
    margin: 14px;
}

.cart-message{
	padding : 8px;
	text-align: center;
}

.no-underline {
	text-decoration: none !important;
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}


.landing-card {
	background-color: white;
	background: rgba(255,255,255,0.93);
	position: relative;
	top: 15%;
	text-align: center;
	border-radius: 8px;
	padding: 16px;

}

.landing-title {
	font-size: 48px;
	font-weight: bold;

}

.landing-after-title-text {
	font-size: 16px;	
	font-weight: bold;
}

.landing-middle-text {
	font-size: 16px;
}

.landing-above-input-text {
	font-size: 12px;
}

.landing-subscribe-container{
	border-color : var(--LightBlue);
}

.landing-subscribe-input:focus {
	border-color: var(--LightBlue) !important;
}

.landing-subscribe-input{
	border-color: var(--LightBlue) !important;
}

.landing-subscribe-button{
	border-color: var(--LightBlue) !important;
	background-color : var(--LightBlue) !important;
	color: white;
}

.landing-container {
	font-family: Arial;
}


.nav-icon {
	display: block;
	text-align: center;
	padding-bottom: 4px;
	font-size: x-large
}

.navbar-header:focus {
	background-color: var(--DarkBlue);
	color: var(--DarkBlue);
}


.nav-icon-text {
	display: block;
	text-align: center;
}

.nav-greetings-text {
	display: block;
	text-align: center;
	line-height : 72px;
	font-size: 24px;
	color: white;
}

.nav-greetings-text:hover {
	cursor: default;
}

.navbar-brand-edgarusa {
	line-height : 44px;
	font-size: 34px;
	color: white;
}

.navbar-brand-edgarusa:hover, .navbar-brand-edgarusa:focus {
	color : var(--LightBlue);
}

.navbar-brand {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
}

.navbar-brand-small {
	color: white;
	font-size: 18px;
}

.navbar-brand-small:hover,.navbar-brand-small:focus {
	color: var(--LightBlue);
}





.navbar-right {
	padding-right: 36px;
}

.top-navbar {
	margin-bottom: 12px;
	padding: 12px;
}

.bottom-navbar {
	padding: 12px;
}

.navbar {
	border-radius: 0 !important;
}


.nav-no-user-link {
	font-size: 20px;
	padding: 24px;
	line-height: 44px !important;
}

.navbar-edgarusa {
	background-color: var(--DarkBlue);
}

.edgar-search-bar.nav-large.with-user{
	padding-top: 10px;
}


.edgar-search-bar.nav-small{
	padding-top: 0px;
}

#srch-term:focus {
	width: 240px;	
}

#srch-term {
	/*width: 172px;*/
	width: 240px !important;
	transition: width 0.5s ease;
}

.navbar-right > li > a {
	color : white;
}

.navbar-right > li > a:hover, .navbar-right > li > a:focus {
	background-color: transparent;
	color : var(--LightBlue);
}

.cart-badge {
	font-size: x-small;
	position: absolute;
	left: 32px;
	top: 8px;
	background-color: var(--LightRed);
}




/* This should be renamed, don't forget about it later*/
.none {
	visibility: hidden;
	opacity: 0;
	/*-webkit-transition: all 0.4s ease;*/

}

.edgarusa-footer: {
	
}

.edgarusa-footer > ul > li > a {
	color: var(--LightBlue);
}


.navbar-edgarusa-small {
	background-color: var(--DarkBlue);
	 /*Look into this transition*/
	/*-webkit-transition: all 0.4s ease;*/
}



.nav-buffer {
	padding-bottom: 50px;
}

.story-overlay-container {
	position: relative;
	top: 25%;
	
}

.story-panel {
	opacity: 0.85;
	background-color : var(--LightBlue);
	border-width: 0;
	padding: 12px;
}

.story-panel > div {
	opacity:  1.0;
	color : white;
	font-size: 24px

}


.story-image {
	background-size : contain;
	max-height : 700px;
	height: 700px;
}


.product-description-collapse-preview {
	color : green;
	cursor:pointer;
}

.product-description-collapse-preview:hover {
	color: var(--LightRed) !important;
}

.product-image-more-container {
	margin-right: 8px;
	margin-left: 16px;
	margin-top: 8px;
	padding: 8px;

	border-width: 2px;
	border-style: solid;
	border-color: lightgrey;
}

.product-image-more-container-selected {
	margin-right: 8px;
	margin-left: 16px;
	margin-top: 8px;
	padding: 8px;

	border-width: 2px;
	border-style: solid;
	border-color: var(--LightBlue);
}


.product-image-more {
	max-height: 80px;
	max-width: 100%;
	height : 80px;
	width: auto;
	border-width: 0px;
	border-style: groove 
}
.product-image-more:hover {
	cursor:pointer;	
	opacity: .5;
}

.product-image-more-row {
	padding-bottom: 10px;
}


.product-image-main {
	max-height: 350px;
	height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	padding : 20px;
	margin-left: auto;
	margin-right: auto;	
}

.product-image-main-border{
	/*border-width: 14px;*/
	border-style: ridge;
}

.product-image-main-container{
	max-width: 100%;
	height: 350px;
}

.product-name-text{
	font-size : 36px;
	display: block
}
.product-price-text {
	font-weight : bold;
	font-size : 30px;
	display: block;
	/*color : green;*/
}

.product-description-text {
	font-size : 24px;
	display: block;
}
.product-manufacturer-text {
	font-size : 18px;
	display: block;
	margin-left: 4px;
	text-decoration: underline
}
.product-more-images-header {
	font-size : 24px;
	display: block;
}

.product-more-information-text{
	vertical-align: middle;
}


.product-more-information-icon{
	vertical-align: middle;
}	



.product-add-cart-button-span {
	font-weight : bold;
	font-size : 36px;
	display: block,;
}




.add-to-cart-button {
	margin-top : 0px;
	padding: 18px 96px;
	font-size: 24px;
	line-height: normal;
	background-color: var(--LightRed);	
	border-color: var(--LightRed);
	height: 70px;
}

.add-to-cart-button.disabled, .quantity-dropdown.disabled{
	cursor : not-allowed !important;
}

.add-to-cart-button:hover {
	opacity: 0.7;
	cursor: pointer;
	border-left : lightgrey 1px solid !important;
}

.quantity-button{
	margin-top : 0px;
	padding: 4px 24px;
	font-size: 24px;
	line-height: normal;
	background-color: var(--LightRed);	
	border-color: var(--LightRed);
	color: white !important;
	text-align: center;
	height:70px;
	border-right : lightgrey 1px solid !important;
	z-index: 1 !important;
}

.quantity-button:hover {
	opacity : 0.7;
}


.quantity-dropdown > li > a {
	/*color: white;*/
}

.product-features-heading{
	font-size: 18;
}


.add-to-cart-text{
	color : white;
}

.product-page-tabs {
	border-bottom: solid 1px lightgrey;
	padding-bottom: 2px;
	cursor: pointer;
}

.product-page-tabs > li.active > a {
	/*color : var(--LightBlue);*/
	border-bottom: solid 4px var(--LightRed);
}


.product-page-tabs > li > a {
	color : black;
	padding-bottom: 10px;
	font-size : 24px;
	text-decoration: none;
}

.product-page-tabs > li  {
	color : grey;
	padding-bottom: 8px;
	padding-right: 36px;
	/*width: 96px;*/
	/*margin : 0;*/
}

a {
	color : var(--LightBlue);
}

a:hover {
	color : var(--DarkBlue);
}

.quantity-label{
	font-size: 12px;
	padding-top : 6px;
	padding-left: 0px;
}

.product-info-tab {
	font-size: 16px;
	/* this wasn't working last, will try agian*/
	/*font-weight: lighter*/
}


.btn-group > .btn {
	margin: 0;
}


.variant-select-button{
	margin-top : 0px;
	padding: 12px 12px;
	font-size: 24px;
	line-height: normal;
	background-color: white !important;	
	color: grey !important;
	border-color: lightgrey;
	width: 361px;

}

.variant-select-button > span:hover {
	opacity : 0.7;
}


.variant-dropdown > li > a {
	width:368px;
	color:grey;
}

.dropdown-item.sold-out {
	text-decoration : line-through !important;
}

.nav-dropdown.dropdown .dropdown-menu{
    /*display: block;*/
    opacity: 0;
    max-height: 0;

    -moz-transition:    all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition:      all 500ms ease;
    -ms-transition:     all 500ms ease;
    transition:         all 500ms ease;
}

.nav-dropdown.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    max-height: 300px;
}


.cart-dropdown{
	display: inline-block
}


.nav-checkout-button {
	background-color: orange;
	color: white;
}

.nav-cart-item-image{
	height : 60px;
	width:60px;
}

.product-sold-out-text {
	color : var(--DarkRed) !important;
	margin-left: 12px;	
}

.home-product-sold-out-text {
	color : var(--DarkRed) !important;
	margin-left: 12px;	
}