/*
Linda's Color Scheme
:root{
	--Beige: #f0f0d8;
	--DarkBeige: #d8c0a8;
	--LightRed : #d84848;
	--DarkRed : #903030;
	--DarkBlue : #183048;
	--LightBlue : #6090a8;

}*/



/* Flag Color Scheme */
/*
:root{
	--Beige: #f0f0d8;
	--DarkBeige: #d8c0a8;
	--LightRed : #ff0000;
	--DarkRed : #d42729;
	--DarkBlue : #000654;
	--LightBlue : #0157ae;
}*/

/* mix */
:root{
	--Beige: #f0f0d8;
	--DarkBeige: #d8c0a8;
	--LightRed : #ff0000;
	--DarkRed : #d42729;
	--DarkBlue : #183048;
	--LightBlue: #6090a8;
}



/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	text-align: left;
	padding: 0 0 8px;
	color: #ccc;
	line-height: 1em;
}*/

.product-page-countdown {
	font-size: 24px;
	color : var(--LightRed);
	padding-bottom: 24px;
}

.react-slick-slides .slick-arrow:before {
	color: var(--DarkBlue);
}

.react-slick-slides .slick-slide {
	
}

.react-slick-slides .slick-arrow {
	top:36% !important;
}


.navbar-brand.mobile {
	padding-left: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.mobile-logo {
	height: 90%;
}

.darker-heading {
	background-color: #cacaca !important;
}

.edgar-link {
	color : var(--Beige);
}

.edgar-link:hover {
	color : var(--LightBlue);
	text-decoration: underline;
}

.fb-icon {
	padding-left: 6px;
	padding-right:6px;
}

.fb-connect-button {
	border-radius: 4px !important;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	border-width: 1px;
	border-style: solid;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color .3s, border-color .3s;
	background-color: #4C69BA;
	border-color: #4C69BA;
	padding: 8px;
	padding-right: 12px;
}

.low-inventory-warning-text {
	margin-bottom: 8px;
	color: var(--DarkRed);
	font-weight: bold;
}

.small-hr {
	margin-top: 12px;
	margin-bottom: 12px;
}

.home-badge-flag {
	position: relative;
	height: 24px;
	margin-right: 12px;
	bottom: 2px;
}

.quantity-select-disabled {
	opacity: 0.5;
}

.quantity-select-disabled:hover {
	cursor: no-drop;
}

.soldOut.addToCart {
	background-color: grey !important;
}

.soldOut.addToCart:hover {
	cursor: not-allowed;
}



.edgar-logo {
	width: auto;
	height: 54px;
	width: 144px;
	position: relative;
	top: -10px;
}


.product-more-images {
	height: 68px !important;
	width: : 68px !important;
}

.clearBoth, .clear {
	clear: both;
}

.content-buffer {
	padding-top: 24px;
}

@font-face {
	font-family: 'AvenirNext';
	font-style: normal;
	font-weight: 400;
	src: url(./AvenirNext.woff) format('woff');
}

@font-face {
	font-family: 'AvenirLight';
	font-style: normal;
	font-weight: 400;
	src: url(./AvenirLight.woff) format('woff');
}

.admin-table-cell-short {
	word-wrap : break-word !important;
	max-width : 160px;
}


.top-buffer { margin-top:20px; }
.small-buffer { margin-top:10px; }



.black-border-shown{
	border-style: solid;
	border-color: black;
}

.past-order {
	border-color : black;
	border-style: solid;
}



.body-container { 
	padding-top: 120px;
	background-color: white;
	font-family: Arial;
	overflow-x: hidden;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.bottom-column {
	vertical-align: bottom;
}

.admin-product-image {
	max-height : 100px;
	max-width  : 100px;
	margin : auto;
	height : auto;
	width : auto;
}

.none {
	display: none;
}



#settings-header {
	font-size: 24px;
}

.react-router-link {
	color : black;
}

.address-checkout-preview {
	padding: 10px;
}



.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.hcenter {
	text-align: center;
}



.faded{
	opacity: 0.40
}

.add-field-icon {
	color: var(--DarkBlue);
}

.add-field-icon:hover {
	text-decoration:underline;
	cursor:pointer;
}

.add-field-text {
	font-size : 18px;
}


.settings-title {
	font-size : 16px;
}




.block-span {
	display: block;
}

.settings-preview-column {
	margin: 6px;
	padding: 12px;
	margin-right: 12px;
}

.add-setting-icon {
	font-size: 36px;
}	

.add-settings-text {
	font-size:  16px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.grey-dashed-border {
	border-style: dashed;
	border-color: grey;
	border-width: 1px;
}

.grey-solid-border {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

.no-border {
	border-width: 0px;
}






.add-settings-button {
	cursor: pointer;
	color: grey;
	padding-top: 30px;
}

.add-settings-button:hover {
	opacity: 0.7;
	color: var(--LightBlue);
	border-color: var(--LightBlue);
}

.text-left {
	text-align: left !important;
}


.form-group.required .control-label:after {
	content: " *";
	color: var(--LightRed);
}

.card-icon-md {
	height: 36px;
	width: auto;
	margin: 8px;
}


.beige-container {
	background-color: var(--Beige) !important;
}



.red-text {
	color: var(--LightRed);
}

.modal-header-right {
	margin-right: 6px;
	position:relative;
	top: -6px;
}

.form-heading {
	font-size: 24px;
}


.order-border {
	border-color: grey;
	border-style: dashed;
	border-width: 1px;
}

.grey-background {
	background-color: lightgrey;
}


.order-image-table-row {
	width: 100px;
	height:100px;
}

.order-preview-image {
	height: 100%;
	width: 100%;
}
.order-preview-image:hover {
	opacity: 0.7;
	cursor: pointer;
}

.order-preview-table  > tbody > tr > td {
	padding: 12px;
}

.order-preview-table  > tbody > tr > th {
	padding: 8px;
}

.order-preview-table{
	border-radius: 5px;
}

.noborder > th {
	border: 0;
}

.light-grey-background {
	background-color: lightgrey
}

.grey-text {
	color : grey;
}

.table-header-vertical-align-center {
	vertical-align: middle !important;
}

#content {
	min-height: 78vh;
	height: 90%;
}

#search-container {
	background-color : #FAF9F8 !important;
}

.search-result-amount-text{
	font-size: 36px;
}




.support-panel-body{
	padding: 25px;
	padding-top: 2px;
	padding-bottom :2px;
}

.textarea-resize-vertical {
	resize: vertical;
}

.send-feedback-button{
	background-color : var(--DarkBlue);
	color : white;
}

.send-feedback-button:hover{
	color : white !important;
}



.order-history-panel-header{
	font-size: 18px;
}

.order-history-panel-text{
	font-size: 18px;
}


.account-panel {
	border-color : var(--LightBlue) !important;
	padding: 12px;
}

.account-panel-heading{
	font-size: 24px;
}

.account-panel-body {
	padding-bottom: 0px;
}

.account-button:hover {
	opacity: 0.7;	
}

.account-button{
	background-color: var(--LightBlue);
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 24px;
	width: 100%;
	border: none;
	border-radius: 6px;
}

.account-header {
	margin-top :0px;
	margin-bottom: 24px;
	color : var(--LightBlue);
}




/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

#same_address_checkbox {
	margin-left: 20px;
}

.modal-header-right .centered-asterisk {
	position: relative;
	top: 4px;
}

.modal-header .close {
  font-size: 40px; /*bigger*/
  position: relative;
  top: -14px;
}

.register-popover {
	width: 200px;
	margin-left: 32px;
}


.account-page-text {
	font-size: 16px
}

.cart-message{
	padding : 8px;
	text-align: center;
}

.no-underline {
	text-decoration: none !important;
}


.carousel-control.left, .carousel-control.right {
	background-image: none
}


.landing-card {
	background-color: white;
	background: rgba(255,255,255,0.93);
	position: relative;
	top: 15%;
	text-align: center;
	border-radius: 8px;
	padding: 16px;

}

.landing-title {
	font-size: 48px;
	font-weight: bold;

}

.landing-after-title-text {
	font-size: 16px;	
	font-weight: bold;
}

.landing-middle-text {
	font-size: 16px;
}

.landing-above-input-text {
	font-size: 12px;
}

.landing-subscribe-container{
	border-color : var(--LightBlue);
}

.landing-subscribe-input:focus {
	border-color: var(--LightBlue) !important;
}

.landing-subscribe-input{
	border-color: var(--LightBlue) !important;
}

.landing-subscribe-button{
	border-color: var(--LightBlue) !important;
	background-color : var(--LightBlue) !important;
	color: white;
}

.landing-container {
	font-family: Arial;
}




/* This should be renamed, don't forget about it later*/
.none {
	visibility: hidden;
	opacity: 0;
	/*-webkit-transition: all 0.4s ease;*/

}

.story-image {
	width: 100%;
	max-height : 2000px;
	height: auto;
}


.footer-social-links {
	color: #999;
	padding-top:8px;
}

@media screen and (max-width: 600px) {

	.account-panel {
		padding: 0px !important;
	}

	.account-text-input {
		font-size: 12px !important;
	}

	.account-header {
		font-size: 18px !important;
	}

	.account-button {
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		width: 60% !important;
		font-size: 14px;
	}
	.account-notice {
		font-size: 12px;
	}

	.register-notice {
		font-size: 10px;
	}

	.quantity-button {

		width: 20vmin;
		font-size: 3vmin !important;
		height: 16vmin;
	}

	.add-to-cart-button {
		width: 70vmin;
		text-align: center;
		font-size: 4vmin !important;
		height: 16vmin;
	}

	.variant-dropdown > li > a {
		width : 89vw;
	}

	

	.variant-select-button {
		padding: 4vw 4vw;
		width: 90vw;
		font-size: 6vw;
	}

	.story-image {
		max-height: 50vh
	}

	.product-more-images{
		width: 90%;
		height: auto;
	}

}

.mobile-product-page-image {
	width: 80%;
	height:auto;
}


.cart-image-display {
	max-height: 80px;
	max-width: 80px;
	height: auto;
	width: auto;
}

.cart-checkout-preview {
	border-color : black;
}


.checkout-button{
	width: 95%;
	background-color: var(--DarkBlue);
	color: white;
}

.checkout-button.block-checkout {
	pointer-events: all !important;
	text-decoration: line-through !important;
	color: var(--LightRed) !important;
	border-color: var(--LightRed) !important;
}
.checkout-button.block-checkout:hover {
	background-color: white !important;
	color: var(--LightRed) !important;
	border-color: var(--LightRed) !important;
}

.checkout-price-amount-text{
	font-size: 14px;
}

.checkout-price-label-text{
	font-size: 14px;
}

.checkout-price-last-row{
	font-size: 24px;
	color : var(--DarkRed);
}

.checkout-footer-text{
	font-size: 12px;
	text-align: center;
}

.checkout-notice-of-terms-text{
	font-size: 12px;
}

.cart-column-title{
	font-size: 14px;
}

.checkout-section-title {
	font-size: 18px;
}

.checkout-select-title{
	font-size: 16px
}


.checkout-card-details {
	font-size:16px;
}

.checkout-address-details {
	font-size:16px;
}

.cart-item-text {
	font-size: 14px;
}

.cart-item-price-text  {
	color : var(--LightBlue);
}

.cart-remove-item-icon {
	color : var(--LightRed);
	cursor : pointer;
	font-size: 14px;
}

.cart-remove-item-icon:hover {
	opacity: 0.7
}

.cart-title {
	font-size: 36px
}

.span-block {
	display: block;
}

.checkout-item-selected{
	color: var(--LightRed)    ;
}

.clickable-text {
	cursor : pointer;
	color: var(--LightBlue);
}

.clickable-text:hover {
	text-decoration:underline;
}

.checkout-container{
	opacity : 1;
}

@media(max-width:600px) {
	.responsive-site .inviteWrapper #resInviteForm{
		max-width: 100% !important;
	}
	.home-single-image {
		width : 95% !important;
		height:auto !important;
	}
	.mobile-footer-links {
		padding: 8px;
		background-color: var(--DarkBlue);
	}
	.mobile-footer-links .row {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.mobile-footer-links  a {
		padding-left: 8px;
		color: #bfbfbf;
		font-size: 15px;
	}

	.cart-image-display {
		width: 90%;
		height: auto;
	}

	.cart-checkout-preview {
		border-color : black;
	}

	.checkout-button{
		width: 95%;
		background-color: var(--DarkBlue);
		color: white;
	}

	.checkout-button.block-checkout {
		pointer-events: all !important;
		text-decoration: line-through !important;
		color: var(--LightRed) !important;
		border-color: var(--LightRed) !important;
	}
	.checkout-button.block-checkout:hover {
		background-color: white !important;
		color: var(--LightRed) !important;
		border-color: var(--LightRed) !important;
	}

	.checkout-price-amount-text{
		font-size: 8px;
	}

	.checkout-price-label-text{
		font-size: 8px;
	}

	.checkout-price-last-row{
		font-size: 15px;
		color : var(--DarkRed);
	}

	.checkout-footer-text{
		font-size: 8px;
		text-align: center;
	}

	.checkout-notice-of-terms-text{
		font-size: 8px;
	}

	.cart-column-title{
		font-size: 8px;
	}

	.checkout-section-title {
		font-size: 12px;
	}

	.checkout-select-title{
		font-size: 10px
	}


	.checkout-card-details {
		font-size:10px;
	}

	.checkout-address-details {
		font-size:10px;
	}

	.cart-item-text {
		font-size: 8px !important;
	}

	.cart-item-price-text  {
		color : var(--LightBlue);
	}
		

	.cart-remove-item-icon {
		color : var(--LightRed);
		cursor : pointer;
		font-size: 8px;
	}

	.cart-remove-item-icon:hover {
		opacity: 0.7
	}

	.cart-title {
		font-size: 20px;
	}

	.span-block {
		display: block;
	}

	.checkout-item-selected{
		color: var(--LightRed)    ;
	}

	.clickable-text {
		cursor : pointer;
		color: var(--LightBlue);
	}

	.clickable-text:hover {
		text-decoration:underline;
	}

	.checkout-container{
		opacity : 1;
	}

	h4 {
		font-size: 10px !important;
	}

	.clickable-text {
		font-size:10px;
	}
	.payment-info {
		font-size: 10px;
	}
	.checkout-section-title{
		font-size: 10px;
	}

	.checkout-quantity-select {
		font-size: 8px;
		border-width: 1px;
		border-color: #999;
		border-radius: 2px;
	}
	
}