.admin-table-entry-short {
	word-wrap : "break-word",
	min-width : 160px,
	max-width : 160px
}

.product-image {
	width : 200px;
	height : 200px;
}

.top-buffer { margin-top:20px; }

.product-preview-container {
	background-color: white;
	padding : 8px;

}

.black-border-shown{
	border-style: solid;
    border-color: black;
}

body { 
	padding-bottom: 70px; 
	background-color: lightgrey;
	font-family: Helvetica;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}