.nav-icon {
	display: block;
	text-align: center;
	padding-bottom: 4px;
	height: 24px;
}

.nav-icon-text {
	display: block;
	text-align: center;
}

.navbar-brand-with-user {
	font-size: 24px;
    padding: 24px;
}

.navbar-brand-no-user {
	font-size: 24px;
}

.navbar-right {
	/*height: 36px;*/
}

.top-navbar {
    margin-bottom: 0;
	padding: 12px;
}

.bottom-navbar {
	padding: 12px;
}

.navbar {
	border-radius: 0 !important;
}


.no-user-link {
	font-size: 20px;
	padding: 24px;
}